#  Collapsible Items Filters
#
#  One line - one group
#  Item added in first valid group
#
#
#  parts:
#  modname:itemid          - identify: matches any part of the target, so minecraft:lava matches minecraft:lava_bucket
#  <modname:itemid(:meta)> - strict item identify, use meta 32767 for all subtypes
#  $orename                - ore dictionary: matches any part of the target, so $ingot matches ingotIron, ingotGold, etc.
#  tag.color=red           - tag
#  0 or 0-12               - damage
#
#  modifiers:
#  ! - logical not. exclude items that match the following expression (!minecraft:portal)
#  r/.../ - standard java regex (r/^m\w{6}ft$/ = minecraft)
#  , - logical or in token (minecraft:potion 16384-16462,!16386)
#  | - logical or multi-item search (wrench|hammer)
#
#  example: minecraft:potion 16384-16462,!16386 | $oreiron | tag.color=red
# /
$r/^blockRaw/
$r/^blockGem/
$r/^blockDust/
$r/^blockIngot/
$r/^blockPlate/
$r/^blockPlateGem/
$r/^blockSolid/
$r/^block/
$r/^capcellcon/
$r/^casingMachine/
$r/^casingMachineDouble/
$r/^casingMachineQuadruple/
$r/^casingMachineDense/
$r/^craftingTool/
$r/^crateGt64Raw/
$r/^crateGt64Gem/
$r/^crateGt64Dust/
$r/^crateGt64Ingot/
$r/^crateGt64Plate/
$r/^crateGt64PlateGem/
$r/^oreVanillaStone/
$r/^bulletGtLarge/
$r/^bulletGtMedium/
$r/^bulletGtSmall/
$r/^arrowGtPlastic/
$r/^arrowGtWood/
$r/^toolheadArrow/
$r/^toolheadRawArrow/
$r/^toolheadBuzzSaw/
$r/^toolheadPlow/
$r/^toolheadRawPlow/
$r/^toolheadSense/
$r/^toolheadRawSense/
$r/^toolheadUniversalSpade/
$r/^toolheadRawUniversalSpade/
$r/^toolheadScrewDriver/
$r/^toolheadWrench/
$r/^toolheadChainSaw/
$r/^toolheadDrill/
$r/^toolheadSaw/
$r/^toolheadRawSaw/
$r/^toolheadChisel/
$r/^toolheadRawChisel/
$r/^toolheadFile/
$r/^toolheadHammer/
$r/^toolheadHoe/
$r/^toolheadRawHoe/
$r/^toolheadAxeDouble/
$r/^toolheadRawAxeDouble/
$r/^toolheadAxe/
$r/^toolheadRawAxe/
$r/^toolheadSpade/
$r/^toolheadRawSpade/
$r/^toolheadShovel/
$r/^toolheadRawShovel/
$r/^toolheadBuilderwand/
$r/^toolheadConstructionPickaxe/
$r/^toolheadPickaxeGem/
$r/^toolheadPickaxe/
$r/^toolheadRawPickaxe/
$r/^toolheadSword/
$r/^toolheadRawSword/
$r/^chemtube/
$r/^minecartWheels/
$r/^wireFine/
$r/^casingSmall/
$r/^foil/
$r/^chain/
$r/^railGt/
$r/^ring/
$r/^screw/
$r/^bolt/
$r/^round//
$r/^lens/
$r/^spring/
$r/^springSmall/
$r/^stickLong/
$r/^stick/
$r/^rotor/
$r/^gearGtSmall/
$r/^gear/
$r/^oreRaw/
$r/^rockGt/
$r/^plateCurved/
$r/^plateDense/
$r/^plateQuintuple/
$r/^plateQuadruple/
$r/^plateTriple/
$r/^plateDouble/
$r/^plateTiny/
$r/^plateGemTiny/
$r/^plateGem/
$r/^plate/
$r/^ingotQuintuple/
$r/^ingotQuadruple/
$r/^ingotTriple/
$r/^ingotDouble/
$r/^ingot/
$r/^round/
$r/^billet/
$r/^chunkGt/
$r/^nugget/
$r/^boule/
$r/^gemLegendary/
$r/^gemExquisite/
$r/^gemFlawless/
$r/^gemFlawed/
$r/^gemChipped/
$r/^gem/
$r/^crushedCentrifugedTiny/
$r/^crushedCentrifuged/
$r/^crushedPruifiedTiny/
$r/^crushedPruified/
$r/^crushedTiny/
$r/^crushed/
$r/^dustDiv72/
$r/^dustTiny/
$r/^dustSmall/
$r/^dust/
$r/^bladeLargeTurbine/
$r/^dustCommercialPure/
$r/^dustAnalyticalPure/
$r/^dustAbsolutelyPure/
$r/^flywheel/
$r/^turbineLargeSteamDamaged/
$r/^turbineLargeGasDamaged/
$r/^turbineLargeSteamChecked/
$r/^turbineLargeGasChecked/
$r/^turbineLargeSteam/
$r/^turbineLargeGas/
$r/^wireGt01/
$r/^wireGt02/
$r/^wireGt03/
$r/^wireGt04/
$r/^wireGt05/
$r/^wireGt06/
$r/^wireGt07/
$r/^wireGt08/
$r/^wireGt09/
$r/^wireGt10/
$r/^wireGt11/
$r/^wireGt12/
$r/^wireGt13/
$r/^wireGt14/
$r/^wireGt15/
$r/^wireGt16/
$r/^cableGt01/
$r/^cableGt02/
$r/^cableGt04/
$r/^cableGt08/
$r/^cableGt12/
$r/^pipeRestrictiveTiny/
$r/^pipeRestrictiveSmall/
$r/^pipeRestrictiveMedium/
$r/^pipeRestrictiveLarge/
$r/^pipeRestrictiveHuge/
$r/^pipeTiny/
$r/^pipeSmall/
$r/^pipeMedium/
$r/^pipeLarge/
$r/^pipeHuge/
$r/^pipeQuadruple/
$r/^pipeNonuple/
$r/^pipe/
$r/^fluidValve/
minecraft:spawn_egg
minecraft:mob_spawner
minecraft:record_
minecraft:carpet
minecraft:wool
minecraft:dye
minecraft:stained_glass
minecraft:monster_egg
minecraft:stained_glass_pane
minecraft:stained_hardened_clay
# splash potion
minecraft:potion 16000-17000
# lingering potion
minecraft:potion 8000-9000
appliedenergistics2:item.ItemFacade
r/Botania:.*Wall/
r/Botania:.*Slab/
r/Botania:.*Stairs/
Botania:manaBeacon
Botania:doubleFlower
Botania:shinyFlower
Botania:miniIsland
Botania:mushroom
Botania:floatingSpecialFlower
Botania:petalBlock
Botania:buriedPetals
Botania:unstableBlock
Botania:altar
Botania:flower
Botania:petal
Botania:dye
Botania:wigwand
Botania:lens
Botania:grassSeeds
Botania:rune
Botania:signalFlare
Botania:flightTiara !0
Botania:customBrick
Botania:brewVial
Botania:brewFlask
Botania:bloodPendant
Botania:craftPattern
Botania:cosmetic
Botania:incenseStick
Botania:biomeStoneA
Botania:biomeStoneB
Botania:stone
Botania:quartzType
Botania:livingrock !0,!5
Botania:livingwood !0,!5
Botania:dreamwood !0,!5
Backpack:backpack 0-99
Backpack:backpack 100-199
Backpack:backpack 200-299
Botany:soil
Botany:loam
Botany:flowerbed
Botany:soilNoWeed
Botany:loamNoWeed
Botany:flowerbedNoWeed
Botany:ceramic
Botany:stained
Botany:insulatedTube
Botany:ceramicPattern
Botany:ceramicBrick
Botany:seed
Botany:pollen
Botany:itemFlower
Botany:pigment
Botany:clay
chisel:
ExtraBees:honeyComb
ExtraBees:honeyDrop
ExtraBees:misc 1-18,26-29
ExtraTrees:planks
ExtraTrees:fence
ExtraTrees:multifence
ExtraTrees:log
ExtraTrees:gate
ExtraTrees:slab
ExtraTrees:door
ExtraTrees:doubleSlab
ExtraTrees:stairs
ExtraTrees:carpentry
ExtraTrees:panel
ExtraTrees:stainedglass
ExtraTrees:food
Forestry:fluid.
Forestry:beehives
Forestry:logsFireproof
Forestry:planksFireproof
Forestry:fencesFireproof
Forestry:slabsFireproof
Forestry:stairsFireproof
Forestry:logs
Forestry:planks
Forestry:fences
Forestry:slabs
Forestry:stairs
Forestry:leaves
Forestry:ffarm
Forestry:can
Forestry:waxCapsule
Forestry:refractory
Forestry:bucket
Forestry:beeQueen
Forestry:beeDrone
Forestry:beePrincess
Forestry:beeLarvae
Forestry:sapling
Forestry:beeCombs
Forestry:pollenFertile
Forestry:butterfly
Forestry:serum
Forestry:caterpillar
Forestry:stamps
Forestry:crated
Forestry:letters
Genetics:serumArray
Genetics:serum
r/IronChest:.*Upgrade/
OpenBlocks:elevator_rotating
OpenBlocks:elevator
OpenBlocks:tank
OpenBlocks:trophy
OpenBlocks:imaginary
OpenBlocks:paintcan
OpenBlocks:crayonGlasses
OpenBlocks:paintBrush
OpenBlocks:stencil
# sinks
Railcraft:machine.beta 0-2,13-15 | Railcraft:machine.zeta | Railcraft:machine.eta
Railcraft:track
Railcraft:signal
Railcraft:stair
Railcraft:slab
Railcraft:lantern.
Railcraft:brick
Railcraft:post
Railcraft:wall
Railcraft:glass
Railcraft:detector
ThermalDynamics:servo
ThermalFoundation:Fluid
ThermalFoundation:bucket
ThermalFoundation:tool.shears
ThermalFoundation:tool.sickle
ThermalFoundation:tool.fishingRod
ThermalFoundation:tool.bow
ThermalFoundation:tool.sword
ThermalFoundation:tool.shovel
ThermalFoundation:tool.pickaxe
ThermalFoundation:tool.axe
ThermalFoundation:tool.hoe
ThermalFoundation:armor
TwilightForest:item.tfspawnegg
tfcaths:
r/tfcautomatedbellows:.*Shield/
r/tfccellars:.*IceSawHead/
r/tfccellars:.*IceSaw/
terrafirmacraft:item.Ore
terrafirmacraft:WallCobble
terrafirmacraft:WallBrick
terrafirmacraft:WallRaw
terrafirmacraft:WallSmooth
terrafirmacraft:StoneIgInSmooth
terrafirmacraft:StoneIgExSmooth
terrafirmacraft:StoneSedSmooth
terrafirmacraft:StoneMMSmooth
terrafirmacraft:StoneIgInBrick
terrafirmacraft:StoneIgExBrick
terrafirmacraft:StoneSedBrick
terrafirmacraft:StoneMMBrick
terrafirmacraft:StoneIgIn
terrafirmacraft:StoneIgEx
terrafirmacraft:StoneSed
terrafirmacraft:StoneMM
terrafirmacraft:buildingBlocks
terrafirmacraft:WoodSupport
terrafirmacraft:ClayGrass
terrafirmacraft:tilledSoil
terrafirmacraft:DryGrass
terrafirmacraft:ClayGrass
terrafirmacraft:Clay
terrafirmacraft:Grass
terrafirmacraft:planks
terrafirmacraft:Anvil
terrafirmacraft:ToolRack
terrafirmacraft:Barrel
terrafirmacraft:Loom
terrafirmacraft:FenceGate
terrafirmacraft:Fence
terrafirmacraft:ArmourStand
terrafirmacraft:BerryBush
terrafirmacraft:Flowers
terrafirmacraft:Chest
terrafirmacraft:MetalTrapDoor
terrafirmacraft:item.SinglePlank
terrafirmacraft:item.Log
terrafirmacraft:item.LooseRock
terrafirmacraft:item.Powder

r/terrafirmacraft:.*Pick$/
r/terrafirmacraft:.*Shovel$/
r/terrafirmacraft:.*Axe$/
r/terrafirmacraft:.*Hoe$/
r/terrafirmacraft:.*Chisel$/
r/terrafirmacraft:.*Sword$/
r/terrafirmacraft:.*Mace$/
r/terrafirmacraft:.*Saw$/
r/terrafirmacraft:.*Javelin$/
r/terrafirmacraft:.*Scythe$/
r/terrafirmacraft:.*Knife$/
r/terrafirmacraft:.*Hammer$/
#selects those "xx Head" items
r/terrafirmacraft:.*Pick/
r/terrafirmacraft:.*Shovel/
r/terrafirmacraft:.*Axe/
r/terrafirmacraft:.*Hoe/
r/terrafirmacraft:.*Chisel/
r/terrafirmacraft:.*Sword/
r/terrafirmacraft:.*Mace/
r/terrafirmacraft:.*Saw/
r/terrafirmacraft:.*Javelin/
r/terrafirmacraft:.*Scythe/
r/terrafirmacraft:.*Knife/
r/terrafirmacraft:.*Hammer/

r/terrafirmacraft:.*Ore$/
r/terrafirmacraft:.*Unshaped$/
r/terrafirmacraft:.*Door$/
r/terrafirmacraft:.*Hide$/
r/terrafirmacraft:.*Tuyere$/
r/terrafirmacraft:.*Skin$/
r/terrafirmacraft:.*Bloom$/
tropicraft:chair
tropicraft:umbrella
tropicraft:dart
tropicraft:fishBucket
gendustry:GeneSample
gregapi:gt.display.fluid
gregtech:gt.block.cfoam.fresh.slab
gregtech:gt.block.cfoam.slab
gregtech:gt.block.cfoam.fresh
gregtech:gt.block.cfoam
gregtech:gt.block.asphalt.slab
gregtech:gt.block.asphalt
gregtech:gt.block.concrete.reinforced.slab
gregtech:gt.block.concrete.reinforced
gregtech:gt.block.concrete.slab
gregtech:gt.block.concrete
gregtech:gt.block.glass.slab
gregtech:gt.block.glass.glow.slab
gregtech:gt.block.glass.glow
gregtech:gt.block.glass
gregtech:gt.block.diggable
gregtech:gt.block.paths
gregtech:gt.block.grass
gregtech:gt.block.rockores
gregtech:gt.block.crystalores
gregtech:gt.block.vanillaores
gregtech:gt.block.sands
gregtech:gt.block.spikes
gregtech:gt.block.bars
gregtech:gt.block.flower
gregtech:gt.block.lilypad
gregtech:gt.block.bale
gregtech:gt.block.fluid
gregtech:gt.block.longdist
r/gregtech:gt.stone.*slab/
gregtech:gt.stone.
gregtech:gt.block.log
gregtech:gt.block.beam
gregtech:gt.block.planks.fireproof.slab
gregtech:gt.block.planks.fireproof
gregtech:gt.block.planks.slab
gregtech:gt.block.planks
gregtech:gt.block.sapling
gregtech:gt.block.rail
gregtech:gt.armor.hazmat
gregtech:gt.multiitem.books
gregtech:gt.multiitem.bottles
gregtech:gt.multiitem.food
gregtech:gt.multiitem.cans
# panel
gregtech:gt.multitileentity 32252-32599
# rope
gregtech:gt.multitileentity 32011,32012,32013,32108,32014,32112
# tap
gregtech:gt.multitileentity 32728,32729,32730,32731,32080,32732,
# funnel
gregtech:gt.multitileentity 32723,32724,32725,32726,32081,32727
# nozzle
gregtech:gt.multitileentity 32747,32746,32748,32749,32079,32750
# cap nozzle
gregtech:gt.multitileentity 32059,32058,32060,32061,32082,32062
# barrel
gregtech:gt.multitileentity 32733,32752,32753,32754,32714,32109,32019,32008,32010,32009,32016,32734,32017,32018,32715,32102,32064,32716,32070,32020,32093,32022,32023,32090,32742,32087,32717,32718,32083,32063,32024,32719,32021,32066,32067
# anvil
gregtech:gt.multitileentity 32025,32095,32026,32027,32050,32028,32106,32107,32029,32030,32031,32071,32092,32032,32033,32034,32035,32036,32037,32038,32039,32091,32040,32088,32041,32042,32043,32044,32045,32046,32047,32048,32049,32068,32069
# coin
gregtech:gt.multitileentity 32700
# normal cover
gregtech:gt.multiitem.technological 1000-1031,2000
# logical cover
gregtech:gt.multiitem.technological 1086-1099
# extruder shape
gregtech:gt.multiitem.technological 10000-10050
# low heat extruder shape
gregtech:gt.multiitem.technological 10200-10250
# food grade shape
gregtech:gt.multiitem.technological 10800-10810
# ammo casing mold
gregtech:gt.multiitem.technological 10896-10898
# slicer blades
gregtech:gt.multiitem.technological 10900-10910
# laser emitter
gregtech:gt.multiitem.technological 11001-11008
# electric motor
gregtech:gt.multiitem.technological 12000-12009
# electric pump
gregtech:gt.multiitem.technological 12020-12029
# electric conveyor
gregtech:gt.multiitem.technological 12040-12049
# electric piston
gregtech:gt.multiitem.technological 12060-12069
# electric robot arm
gregtech:gt.multiitem.technological 12080-12089
# force field emittor
gregtech:gt.multiitem.technological 12100-12109
# signal emittor
gregtech:gt.multiitem.technological 12120-12129
# sensor
gregtech:gt.multiitem.technological 12140-12149
# battery cell
gregtech:gt.multiitem.technological 20000-20009
# electrode
gregtech:gt.multiitem.technological 29987-29999
# circuit wiring
gregtech:gt.multiitem.technological 30001,30003,30005,30007,30009,30011,30013,30015
# circuit plate
gregtech:gt.multiitem.technological 30002,30004,30006,30008,30010,30012,30014,30016
# circuit part
gregtech:gt.multiitem.technological 30101-30199
# circuit board
gregtech:gt.multiitem.technological 30201-30215
# circuit
gregtech:gt.multiitem.technological 30301-30315
# crystal circuit core
gregtech:gt.multiitem.technological 30401-30404
# circuit circuit
gregtech:gt.multiitem.technological 30501-30504
# usb
gregtech:gt.multiitem.technological 32001-32004
# usb wire
gregtech:gt.multiitem.technological 32011-32014
# usb hdd
gregtech:gt.multiitem.technological 32021-32024
# raw clay mold
gregtech:gt.multiitem.randomtools 900-997
# spray paint
gregtech:gt.multiitem.randomtools 1000-1096
# cfoam spray
gregtech:gt.multiitem.randomtools 1100-1198
# buckets
gregtech:gt.multiitem.randomtools 2001-2818

$dye
$treeSapling
